<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Appier Professional Service Demo</title>
  <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-material"></script>
  <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
  <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data-10-year-range.js"
    integrity="sha512-Zy6GmgJpPiVngCfEP3NZcAH5CdPuHg2RtF1w3jUln677wOsQPmZEVbdI9x6SraTrawfNFeE98YfFA/jAcJ1kVg=="
    crossorigin="anonymous"></script>
  <style>
    .md-app {
      max-height: 100vh;
      border: 1px solid rgba(#000, .12);
    }

    @media screen and (max-width: 600px){
      .client-name{
          display: none;
      }
  }

    .md-app-content {
      background-color: #f7f7f7 !important;
    }

    .md-drawer {
      width: 230px;
      max-width: calc(100vw - 125px);
    }

    .md-chip {
      margin: 5px;
    }

    .personalize-product-card {
      height: 200px !important;
    }

    .md-card-header-text {
      min-height: 170px;
    }

    .search {
      max-width: 500px;
    }

    .ph-item {
      background-color: #f7f7f7 !important;
    }

    .polar-chart {
      height: 300px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div>
      <md-empty-state v-if="viewStage === 'notExist'" md-icon="cloud_off" md-label="此 App ID 並不存在"
        md-description="請聯絡 Appier Professional Service Team">
      </md-empty-state>
    </div>
    <div v-if="viewStage !== 'notExist'" class="page-container">
      <md-app md-waterfall md-mode="overlap">
        <md-app-toolbar v-if="viewStage !== 'personalization'" class="md-primary md-large">
          <div class="md-toolbar-row">
            <div class="md-toolbar-section-start">
              <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
                <md-icon>menu</md-icon>
              </md-button>
              <span class="md-title client-name">{{siteConfig.name}}</span>
            </div>
            <md-autocomplete class="search" v-model="keyword" :md-options="autoCompleteTags" md-layout="box"
              @md-changed="getAutoCompleteTags">
              <label>搜尋標籤</label>
            </md-autocomplete>
            <md-button class="md-raised md-accent" v-on:click="clickSearch(keyword)">搜尋
            </md-button>
            <div class="md-toolbar-section-end"></div>
          </div>
        </md-app-toolbar>

        <md-app-toolbar v-if="viewStage === 'personalization'" class="md-primary md-large">
          <div class="md-toolbar-row">
            <div class="md-toolbar-section-start">
              <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
                <md-icon>menu</md-icon>
              </md-button>
              <span class="md-title client-name">{{siteConfig.name}}</span>
            </div>
            <md-autocomplete class="search" md-layout="box" v-model="selectedUser"
              :md-options="siteConfig.defaultUsers">
              <label>用戶搜尋</label>
            </md-autocomplete>
            <md-button class="md-raised md-accent" v-on:click="clickUserSearch()">搜尋</md-button>
            <div class="md-toolbar-section-end"></div>
          </div>
        </md-app-toolbar>

        <md-app-drawer :md-active.sync="menuVisible">
          <md-toolbar class="md-transparent" md-elevation="0">
            {{siteConfig.name}}
          </md-toolbar>

          <md-list>
            <md-list-item v-on:click="clickHomepage()">
              <md-icon>sell</md-icon>
              <span class="md-list-item-text">以標籤搜尋商品</span>
            </md-list-item>

            <md-list-item v-on:click="clickPersonalization()">
              <md-icon>psychology</md-icon>
              <span class="md-list-item-text">個人化推薦</span>
            </md-list-item>
          </md-list>
        </md-app-drawer>

        <md-app-content class="md-elevation-10" v-if="viewStage === 'personalization' && products.length > 0">

          <div class="md-layout md-gutter md-alignment-top-center">
            <div class="md-layout-item md-size-60 md-small-size-100 md-xsmall-size-100">
              <div class="md-display-1">用戶資訊</div>
              <hr>
              <md-list class="md-double-line" style="background-color: transparent;">
                <md-list-item>
                  <md-avatar class="md-avatar-icon md-primary">
                    <md-icon>face</md-icon>
                  </md-avatar>

                  <div class="md-list-item-text">
                    <span>用戶 ID：{{selectedUser}}</span>
                    <span>事件總數：{{userEvents.length}} 筆</span>
                  </div>
                </md-list-item>
              </md-list>
              <div class="md-display-1">最近 10 筆事件</div>
              <hr>
              <div class="md-layout md-gutter md-alignment-top-center">
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100">
                  <md-list class="md-double-line" style="background-color: transparent;">
                    <md-list-item v-if="index < 5" v-for="(event, index) in userEvents.slice(0,10)">
                      <md-icon>{{getEventIcon(event.event_name)}}</md-icon>
                      <div class="md-list-item-text">
                        <span>{{getEventName(event.event_name)}}</span>
                        <span>{{formatTime(event.time)}}</span>
                        <p>{{event.productName||event.product_id}}</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100">
                  <md-list class="md-double-line" style="background-color: transparent;">
                    <md-list-item v-if="index >= 5" v-for="(event, index) in userEvents.slice(0,10)">
                      <md-icon>{{getEventIcon(event.event_name)}}</md-icon>
                      <div class="md-list-item-text">
                        <span>{{getEventName(event.event_name)}}</span>
                        <span>{{formatTime(event.time)}}</span>
                        <p>{{event.productName||event.product_id}}</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
              </div>
            </div>
            <div class="md-layout-item md-size-40 md-small-size-100 md-xsmall-size-100">
              <div class="md-display-1">感興趣的商品類別</div>
              <hr>
              <md-tabs class="md-transparent" md-alignment="fixed" v-bind:md-active-tab="Object.keys(userTags)[0]"
                @md-changed="switchTab">
                <md-tab v-for="category in Object.keys(userTags)" v-bind:id="category" v-bind:md-label="category">
                  <div v-if="userTags[category].length <= 3">
                    <md-chip v-for="tag in userTags[category]">{{tag.tag_name}} - {{tag.score.toFixed(2)}}</md-chip>
                  </div>
                  <div v-if="userTags[category].length > 3">
                    <polar-area :chart-data="polarAreaData[category]" class="polar-chart"></polar-area>
                  </div>
                </md-tab>
              </md-tabs>
            </div>
          </div>
          <div class="md-display-1">個人化推薦商品</div>
          <hr>
          <div class="md-layout md-alignment-top-cente">
            <div class="md-layout-item md-xlarge-size-25  md-large-size-20 md-small-size-100"
              v-for="product in products" v-on:click="clickProduct(product)">
              <md-card class="product-card" md-with-hover>
                <md-ripple>
                  <md-card-media md-medium>
                    <img v-bind:src="product.image_url">
                  </md-card-media>
                  <md-card-header>
                    <div class="md-title">{{product.title}}</div>
                    <div class="md-subhead">{{product.category}}</div>
                  </md-card-header>
                  <md-card-content>
                    {{product.product_id}}
                  </md-card-content>
                </md-ripple>
              </md-card>
            </div>
          </div>
        </md-app-content>

        <md-app-content class="md-elevation-10" v-if="viewStage==='homepage'">
          <div class="md-display-1">熱門標籤</div>
          <hr>
          <md-chip v-for="tag in hotTags" md-clickable v-on:click="clickHotTag(tag)">
            {{tag.tag_name}}</md-chip>
        </md-app-content>

        <md-app-content class="md-elevation-10" v-if="viewStage==='list' && products.length > 0">
          <div>
            <div class="md-display-1">相關標籤</div>
            <hr>
            <md-chip v-for="tag in relatedTags" md-clickable v-on:click="clickRelatedTag(tag)">{{tag.tag_name}}
            </md-chip>
            <br><br>
          </div>
          <div>
            <div class="md-display-1">推薦商品</div>
            <hr>
            <div v-if="loadingProductList" class="md-layout md-alignment-top-cente">
              <div class="md-layout-item md-xlarge-size-25 md-large-size-20 md-small-size-100"
                v-for="product in new Array(4)">
                <div class="ph-item product-card">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="!loadingProductList" class="md-layout md-alignment-top-cente">
              <div class="md-layout-item md-xlarge-size-25 md-large-size-20 md-small-size-100"
                v-for="product in products" v-on:click="clickProduct(product)">
                <md-card class="product-card" md-with-hover>
                  <md-ripple>
                    <md-card-media md-medium>
                      <img v-bind:src="product.image_url">
                    </md-card-media>
                    <md-card-header>
                      <div class="md-title">{{product.title}}</div>
                      <div class="md-subhead">{{product.category}}</div>
                    </md-card-header>
                    <md-card-content>
                      {{product.product_id}}
                    </md-card-content>
                  </md-ripple>
                </md-card>
              </div>
            </div>
          </div>
        </md-app-content>
        <md-app-content class="md-elevation-10" v-if="viewStage==='product' && loadingProduct">
          <div class="md-layout md-gutter md-alignment-top-center">
            <div class="md-layout-item md-size-100">
              <div class="ph-item">
                <div class="ph-col-2">
                  <div class="ph-picture"></div>
                </div>
                <div class="ph-col-5">
                  <div class="ph-row">
                    <div class="ph-col-6"></div>
                    <div class="ph-col-6 empty"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-8"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-12"></div>
                  </div>
                </div>
                <div class="ph-col-5">
                  <div class="ph-row">
                    <div class="ph-col-6"></div>
                    <div class="ph-col-6 empty"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-8"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-12"></div>
                  </div>
                </div>
                <div class="ph-col-12">
                  <div class="ph-row">
                    <div class="ph-col-6"></div>
                    <div class="ph-col-6 empty"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-8"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-6"></div>
                    <div class="ph-col-6 empty"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-8"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-6"></div>
                    <div class="ph-col-6 empty"></div>
                    <div class="ph-col-2"></div>
                    <div class="ph-col-10 empty"></div>
                    <div class="ph-col-8"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-12"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-app-content>
        <md-app-content class="md-elevation-10" v-if="viewStage==='product' && !loadingProduct">

          <div class="md-layout md-gutter md-alignment-top-center">

            <div class="md-layout-item md-size-15 md-xsmall-size-100">
              <img v-bind:src="productInfo.image_url" alt="Avatar">
              <br><br>
            </div>
            <div class="md-layout-item md-size-45 md-small-size-100 md-xsmall-size-100">
              <div class="md-title">{{productInfo.title}}</div>
              <div class="md-subhead">{{productInfo.category}}</div>
              <div class="md-subheading">{{productInfo.product_id}}</div>
              <div class="md-caption">{{productInfo.price}}</div>
              <br><br>
            </div>
            <div class="md-layout-item md-size-40 md-small-size-100 md-xsmall-size-100">
              <div class="md-display-1">相關標籤</div>
              <hr>
              <md-chip v-for="tag in productTags" md-clickable v-on:click="clickRelatedTag(tag)">
                {{tag.tag_name}}</md-chip>
            </div>
          </div>
          <br><br>
          <!-- <div class="md-display-1">推薦商品</div>
          <hr>
          <md-empty-state
            v-if="productTags.filter(tag => tag.selected).length == 0 && vavTags.filter(tag => tag.selected).length == 0 && !loadingProductList"
            md-icon="menu_book" md-label="沒有推薦的商品" md-description="請先選取一些標籤">
          </md-empty-state>
          <div v-if="loadingProductList" class="md-layout md-alignment-top-cente">
            <div class="md-layout-item md-xlarge-size-25 md-large-size-20 md-small-size-100" v-for="book in new Array(4)">
              <div class="ph-item product-card">
                <div class="ph-col-12">
                  <div class="ph-picture"></div>
                  <div class="ph-row">
                    <div class="ph-col-6 big"></div>
                    <div class="ph-col-4 empty big"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-4"></div>
                    <div class="ph-col-8 empty"></div>
                    <div class="ph-col-6"></div>
                    <div class="ph-col-6 empty"></div>
                    <div class="ph-col-12"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="books.length > 0 && !loadingProductList" class="md-layout md-alignment-top-cente">
            <div class="md-layout-item md-large-size-20 md-medium-size-33 md-small-size-50 md-xsmall-size-100"
              v-for="book in books" v-on:click="clickProduct(book.product_id)">
              <md-card class="product-card" md-with-hover>
                <md-ripple>
                  <md-card-header>
                    <md-card-header-text>
                      <div class="md-subheading">{{book.book_info.title}}</div>
                      <div class="md-body-2">{{book.book_info.author}}</div>
                      <div class="md-caption">{{book.book_info.category}}</div>
                      <div class="md-body-1">{{book.book_info.product_id}}</div>
                    </md-card-header-text>
                    <md-card-media md-medium>
                      <img v-bind:src="book.book_info.image_link" alt="Avatar">
                    </md-card-media>
                  </md-card-header>
                  <md-card-content>
                    <md-chip v-for="tag in book.match_tag.split(',')">{{tag.split('-')[0]}}
                    </md-chip>
                  </md-card-content>
                </md-ripple>
              </md-card>
            </div>
          </div> -->
        </md-app-content>
      </md-app>
    </div>
  </div>
  <script src="index.js"></script>
</body>

</html>